#map {
    height: 100%;
    cursor: pointer;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 10;
}

.dialog { 
    margin: auto;
    margin-top: 20%;
    max-width: 30em;
    border: 3px solid green; 
    overflow: auto;
}

#userControlDiv {
    position: absolute;
    right: 5px;
    top: 5px;
}

#centerControlDiv {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
}

#streetControlDiv, #camConfigControlDiv, #camSelectDiv, #streetSelectDiv {
    position: absolute;
    left: 5px;
    top: 40%;
}

#contextMenu, #streetContextMenu {
    position: absolute;
    top: 0;
    left: 0;
}

#info1, #info2, #info3, #info4, #info5 {
    position: absolute;
    top: 5px;
    right: 5px;
    max-width: 30%;
}

#camConfigCanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}






.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}