<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>rs.etf.kn.master.main.Main</listener-class>
    </listener>
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.StartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCameraServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.AddCameraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStreetInfoServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.AddStreetInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStreetServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.AddStreetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddViewServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.AddViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigCameraServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.ConfigCameraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCurrentFrameServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.SaveCurrentFrameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadVideoServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.UploadVideoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCameraConfigServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.SaveCameraConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTrafficDataServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.GetTrafficDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMobileDataServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.UploadMobileDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetConfigurationServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.GetConfigurationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMarkServlet</servlet-name>
        <servlet-class>rs.etf.kn.master.servlets.AddMarkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/StartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/AddAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCameraServlet</servlet-name>
        <url-pattern>/AddCameraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStreetInfoServlet</servlet-name>
        <url-pattern>/AddStreetInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStreetServlet</servlet-name>
        <url-pattern>/AddStreetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddViewServlet</servlet-name>
        <url-pattern>/AddViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigCameraServlet</servlet-name>
        <url-pattern>/ConfigCameraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCurrentFrameServlet</servlet-name>
        <url-pattern>/SaveCurrentFrameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadVideoServlet</servlet-name>
        <url-pattern>/UploadVideoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCameraConfigServlet</servlet-name>
        <url-pattern>/SaveCameraConfigServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTrafficDataServlet</servlet-name>
        <url-pattern>/GetTrafficDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMobileDataServlet</servlet-name>
        <url-pattern>/UploadMobileDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetConfigurationServlet</servlet-name>
        <url-pattern>/GetConfigurationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMarkServlet</servlet-name>
        <url-pattern>/AddMarkServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>StartServlet</welcome-file>
    </welcome-file-list>
</web-app>
